#searchForm {
    margin-bottom: 20px;
}
#endDate,
#startDate {
    margin-top: 10px;
}
#endDate input,
#startDate input {
    width: auto;
}
#endDate span,
#startDate span {
    display: inline;
}
#results-box .label {
    margin-right: 12px;
    padding: 7px 11px;
}
#results-box .worklog-label {
    font-size: 70%;
    color: #888;
    margin: 5px 15px 0 0;
    font-style: italic;
}
#results-box .project-label {
    font-size: 100%;
    margin-bottom: 5px;
    display: inline-block;
}



.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}


.x.axis path {
    display: none;
}


.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}