<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Worklog - Jira</title>
    <link rel="stylesheet" href="css/body.css">
    <link rel="stylesheet" href="vendors/bootstrap-css-only/css/bootstrap.min.css">
    <link rel="stylesheet" href="vendors/select2/select2.css">
    <link rel="stylesheet" href="vendors/font-awesome-bower/css/font-awesome.css">

</head>

<body ng-app="worklogApp">

    <div id="wrapper" class="container" ng-controller="MainCtrl">
        <h1>Worklog for Jira</h1>
        <p class="text-muted">This web app allows you to check worklogs by users for a given date period.</p>

        <form id="searchForm" class="form-inline" role="form" ng-submit="search()">
            <div class="form-group">
                Search:
            </div>
            <div class="form-group">
                <label class="sr-only" for="selectUser">Start date</label>
                <select ui-select2="selectUserConfig" ng-model="selectedUser" ng-change="valueChanged(selectedUser)">
                    <option value=""></option>
                    <option ng-repeat="user in users" value="{{user}}">{{user}}</option>
                </select>
            </div>
            <div class="form-group">
                <label class="sr-only" for="startDate">Start date</label>
                <p class="input-group" id="startDate">
                    <input type="text" class="form-control" placeholder="Enter a start date" datepicker-popup="{{format}}" ng-model="startDate" is-open="openedStart" min-date="'2000-01-01'" max-date="maxAvailableDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" show-button-bar="false" close-text="Close" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open('start', $event)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                </p>
            </div>
            <div class="form-group">
                <label class="sr-only" for="endDate">End date</label>
                <p class="input-group" id="endDate">
                    <input type="text" class="form-control" placeholder="Enter a end date" datepicker-popup="{{format}}" ng-model="endDate" is-open="openedEnd" min-date="'2000-01-01'" max-date="maxAvailableDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" show-button-bar="false" close-text="Close" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open('end', $event)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                </p>
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
            <i ng-if="!finished" class="fa fa-spinner fa-spin fa-lg fa-fw"></i>
        </form>
        <alert type="{{alertType}}" ng-if="errorMsg" close="closeAlert()">{{errorMsg}}</alert>

        <div id="results-box">

            <div class="jumbotron" ng-repeat="(person, result) in results">
                <p>{{person}}
                    <span class="label pull-right" ng-class="{'label-warning' : $last, 'label-default':!$last}" ng-repeat="(key,val) in result.days">{{key}}: {{val}}</span>
                    <span class="worklog-label pull-right">Worklog (in days)</span>
                    </h3>
                    <table ng-show="person!='Total'" class="table table-striped">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Reference</th>
                                <th>Type</th>
                                <th>Time (in days)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="info in result.info | orderBy:'date'">
                                <td>{{info.date}}</td>
                                <td>{{info.ref}}</td>
                                <td>{{info.type}}</td>
                                <td>{{info.time}}</td>
                            </tr>
                        </tbody>
                    </table>
            </div>

        </div>

    </div>

    <!-- scripts vendors -->
    <script src="vendors/jquery/dist/jquery.min.js"></script>
    <script src="vendors/angular/angular.min.js"></script>
    <script src="vendors/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="vendors/select2/select2.min.js"></script>
    <script src="vendors/angular-ui-select2/src/select2.js"></script>
    <script src="vendors/moment/moment.js"></script>


    <!-- scripts angular -->
    <script src="app.js"></script>
    <script src="constants/Config.js"></script>
    <script src="services/SearchSrv.js"></script>
    <script src="controllers/controller.js"></script>

</body>

</html>